<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" usedbyfluent="true">
  <div class="container-fluid" usedbyfluent="true">
    <a class="navbar-brand" href="/">KEYUR</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01" usedbyfluent="true">
      <ul class="navbar-nav me-auto" usedbyfluent="true">
        <li class="nav-item" usedbyfluent="true">
          <a class="nav-link active" href="/">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item" usedbyfluent="true">
          <a class="nav-link" href="/about">About me</a>
        </li>
        <li class="nav-item" usedbyfluent="true">
          <a class="nav-link" href="/contact">Contact me</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="row h-100">
    <div class="jumbotron col-sm-12 my-auto">
    <h1>Keyur Hedau Portfolio Website</h1>
    <p>I'm a Final year student, working toward my Computer programmer degree and looking for ways to put my new knowledge and skills to use in a work environment.</p>
  </div>

</div>
  
</div>
